<!DOCTYPE html>

<html lang="ro">

<head>
    <!--titlu-->
    <title>2roti</title>

    <!--tag-uri meta charset, keywords, author, description-->
    <meta name="keywords" content="motocicleta, echipament, piese, casca, moto">
    <meta name="description" content="2roti - Magazin online de piese, accesorii si echipament pentru motociclete">
    

    <script>

        function afiseaza_meniu() {
            var meniu = document.getElementById("meniu-container");

            if (meniu.style.width === "100%") {
                meniu.style.width = "0%";
            } else {
                meniu.style.width = "100%";
                meniu.style.height = "fit-content";
            }
        }

    </script>

    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <h2>pagina 2</h2>
    </main>

    
    <div id="watermark"></div>

    <%- include("../fragmente/footer.ejs") %>
</body>

</html>