<!DOCTYPE html>

<html lang="ro">

<head>
    <!--titlu-->
    <title>2roti</title>

    <!--tag-uri meta charset, keywords, author, description-->
    <meta name="keywords" content="motocicleta, echipament, piese, casca, moto">
    <meta name="description" content="2roti - Magazin online de piese, accesorii si echipament pentru motociclete">

    <%- include("../fragmente/head.ejs"); %>

</head>

<body>
    <%- include("../fragmente/header.ejs"); %>

        <main>
                <%- include("../fragmente/galerie_statica.ejs"); %>
        </main>

        <div id="acasa" title="Acasa">
            <a href="#logo2">
                <div id="triunghi-acasa"></div>
            </a>
        </div>


        <div id="watermark"></div>

        <%- include("../fragmente/footer.ejs"); %>
</body>

</html>