<!DOCTYPE html>
<html lang="ro">

<head>
    <title>2roti - Inregistrare</title>

    <!--tag-uri meta charset, keywords, author, description-->
    <meta name="keywords" content="motocicleta, echipament, piese, casca, moto">
    <meta name="description" content="2roti - Magazin online de piese, accesorii si echipament pentru motociclete">

    <%- include("../fragmente/head.ejs"); %>
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />

        <%- include("../fragmente/head") %>
            <script type="text/javascript" src=/resurse/js/produse.js></script>
</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <div class="afisaj">
                Ai fost delogat!
            </div>
        </main>


        <%- include('../fragmente/footer') %>


</body>

</html>