
#grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". . . "
        ". z-gol ."
        ". . ."
        ". . ."
        ". z-gol2 ."
        ". . .";
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    counter-reset: nrimag 0; 
}

#grid-galerie figure {
    padding: 1em;
    overflow: hidden;
}

#grid-galerie img {
    width: 100%;
    max-width: 100%;
    transition: all 0.13s;
}

#img-container {
    overflow: hidden;
    transition: all 0.13s;
}

#img-container:hover{
  border-radius: 15px;
  transition: all 0.13s;
}

#grid-galerie img:hover {
    opacity: 0.7;
    transform: scale(1.4);
    transform-origin: top center;
    transition: all 0.13s;
}

#grid-galerie figcaption {
    text-align: center;
    counter-increment: nrimag 1; 
}

#grid-galerie figcaption::before {
    content: counter(nrimag, lower-roman) ")";
}

#gol {
    grid-area: z-gol;
}

#gol2 {
    grid-area: z-gol2;
}

#grid-galerie, #reflexie-container, #container-animat{
    border: var(--grosime-border) solid black;
    background-color: var(--culoare_card);
    color: var(--culoare_text);
    padding: var(--padding_pagina);
    border-radius: 1em;
    max-width: 100vw;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
        -0.1em -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
        -0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
        0.1em -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

#reflexie-container{
    margin-bottom: 1em;
}

hr{
    border: none;
    opacity: 1;
    content: " ";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #e07e07;
    background: radial-gradient(circle, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 55%, rgba(224,126,7,0) 100%);
    background-size: 0.75em;
    background-position: center;
    margin-top: 2em;
    margin-bottom: 1em;
    overflow: visible;
}

hr::after{
    background-image: url('/resurse/images/bike-shadow.png');
    background-size: 3em 3em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -1.5em;
    width: 3em; 
    height: 3em;
    content:"";
}

video#bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
  }






