/* Pentru ecran mic fontul va fi mai mic, grid doar pe coloane, inclusiv meniul si dezactivam orice tranzitie*/

@media screen and (max-width: 700px) {

    html {
        font-size: 10px;
        transition: none;
    }

    #grid-pagina {
        display: grid;
        grid-template-areas:
            "z-prezentare"
            "z-tabel"
            "z-calendar"
            "z-anunturi"
            "z-utilizatori"
            "z-stats"
            "z-server"
            "z-div";
    }

    #grid-meniu {
        display: grid;
        text-align: center;
        list-style-position: inside;
        grid-template-areas:
            "z-casti"
            "z-echipamente"
            "z-piese"
            "z-accesorii";

    }

    #tabel{
        overflow: scroll;
    }
}

/* Pentru ecran mediu in grid vor fi maxim 2 coloane */

@media screen and (min-width: 701px) and (max-width: 1400px) {

    html {
        font-size: 12px;
    }

    #grid-pagina {
        display: grid;
        grid-template-areas:
            "z-prezentare z-prezentare z-prezentare z-prezentare"
            "z-tabel z-tabel z-calendar z-calendar"
            "z-tabel z-tabel z-anunturi z-anunturi"
            "z-stats z-stats z-utilizatori z-utilizatori"
            "z-stats z-stats z-server z-server"
            "z-div z-div z-div z-div";

    }

    #grid-meniu {
        display: grid;
        grid-template-areas: "z-casti z-echipamente z-piese z-accesorii";

    }

    #tabel{
        overflow: scroll;
    }

}

/* Pe ecran normal se va folosi grid-ul default*/

@media screen and (min-width: 1401px) {

    html {
        font-size: 14px;
    }

    #grid-pagina {
        display: grid;
        grid-template-areas:
            "z-prezentare z-prezentare z-prezentare z-prezentare"
            "z-tabel z-tabel z-calendar z-calendar"
            "z-tabel z-tabel z-anunturi z-anunturi"
            "z-utilizatori z-stats z-stats z-server"
            "z-div z-div z-div z-div";
    }

    #grid-meniu {
        display: grid;
        grid-template-areas: "z-casti z-echipamente z-piese z-accesorii";

    }

}

body {

    --culoare_highlight: #FCA808;
    --culoare_principala: #E07E07;
    --culoare_border: #F76806;
    --culoare_secundara: #E03E07;
    --culoare_warning: #FC2208;
}

#grid-pagina> section{
    border: 0.1em solid black;
    background-color: white;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}

#grid-pagina> div{
    border: 0.1em solid black;
    background-color: white;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}

header{
    background-color: var(--culoare_principala);
}

body{
    background-color: var(--culoare_principala);
}

footer{
    border: 0.1em solid black;
    background-color: white;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}
#grid-meniu > li{
    border: 0.1em solid black;
    background-color: white;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}
#casti {
    grid-area: z-casti;
}

#echipamente {
    grid-area: z-echipamente;
}

#piese {
    grid-area: z-piese;
}

#accesorii {
    grid-area: z-accesorii;
}

#sigla {
    text-align: center;
}

#prezentare {
    grid-area: z-prezentare;

}

#img_store {
    width: 30em;
}

#imagine_prezentare {
    text-align: center;
}

#tabel {
    grid-area: z-tabel;
    text-align: center;
}

#calendar {
    grid-area: z-calendar;

}

#anunturi {
    grid-area: z-anunturi;

}

#utilizatori {
    grid-area: z-utilizatori;

}

#utilizatori>h2 {
    text-align: center;
}

#stats {
    grid-area: z-stats;

}

#stats>h2 {
    text-align: center;
}

#server {
    grid-area: z-server;

}

#server>h2 {
    text-align: center;
}

#diverse {
    grid-area: z-div;

}

/* font size responsive */


html {
    transition: font-size 0.5s;
}

header {
    font-size: 1.2em;
}

body {
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

#video-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 2em;
}

#butoane-video{
    display: flex;
    flex-direction: column;
    
    
}

details{
    transition: 1s;
}
#butoane-video button{
    width: 6em;
    height: 3em;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--culoare_highlight);
    border: 0.1em  solid var(--culoare_border);
    border-radius: 0.2em;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0.2em  0.05em 0em 0em var(--culoare_border) inset;
    margin-bottom: 0.1em;
    
}

#butoane-video button:hover{
    background-color: var(--culoare_border);
    color: white;
    transition: 0.5s;
}

#ifr-video{
    width: 40em;
    height: 20em;
    border: 0.2em solid var(--culoare_border);
}

/* tabel */
#orar{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
}

#orar tbody tr:nth-child(odd){
    border-bottom: 1px solid var(--culoare_warning);
    border-top: 0;
}

#orar tbody tr:nth-child(even){
    border-bottom: 1px solid var(--culoare_highlight);
    border-top: 0;
}

#orar th, td
{
    border: 1px solid var(--culoare_border);
    text-align: center;
    border-top: 0;
    border-bottom: 0;
}

#orar thead{
    border-bottom: 1px solid var(--culoare_border);
}


#orar tbody tr:hover, thead tr:hover, tfoot tr:hover{
    outline: 5px solid rgba(233,2,22,0.7);
    transition: 0.5s;
    
}

#orar{
    box-shadow: 0 5px 0 0 var(--culoare_border) inset; /* Border bottom */
    box-shadow: 0 -5px 0 0 var(--culoare_border) inset; /* Border top */
    box-shadow: -5px 0 0 0 var(--culoare_border) inset; /* Border left */
    box-shadow: 5px 0 0 0 var(--culoare_border) inset; /* Border right */
    box-shadow: 0 0 0 5px var(--culoare_border) inset; /* All the borders by using the spread properties */
}

#orar tfoot, thead th{
    height: 2em;
}

/* caption tabel */
#orar caption
{
    caption-side: bottom;
    text-align: center;
}

/* buton acasa */

#acasa
{   
    position: fixed;
    right: 5%;
    bottom: 0.1em;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    margin: auto;
    border: 0.15em solid var(--culoare_border);
    width: 2em;
    height: 2em;
    rotate: 45deg;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-color: var(--culoare_highlight);
    opacity: 0.2;
}

#acasa:hover{
    opacity: 1;
    background-color: var(--culoare_border);
    transition: 0.4s;
    border-color: var(--culoare_highlight);
    
}

#acasa:hover #triunghi-acasa{
    border-bottom-color: white;
    transition: 0.4s;
}



#triunghi-acasa{
    
    rotate: -45deg;
    margin-right: 0.35em;
    margin-bottom: 0.35em;
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 1.2em solid var(--culoare_border);
    border-bottom-right-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
}

main{
    background-color: var(--culoare_principala);
}