/* Pentru ecran mediu in grid vor fi maxim 2 coloane */

@media screen and (min-width: 701px) and (max-width: 1400px) {
    html {
        font-size: 12px;
    }

    #grid-pagina {
        display: grid;
        gap: 1.5em;
        grid-template-areas:
            "z-prezentare z-prezentare z-prezentare z-prezentare"
            "z-tabel z-tabel z-calendar z-calendar"
            "z-tabel z-tabel z-anunturi z-anunturi"
            "z-stats z-stats z-utilizatori z-utilizatori"
            "z-stats z-stats z-server z-server"
            "z-div z-div z-div z-div";
    }

    #tabel {
        overflow: scroll;
    }

    #body {
        --page_spacing: 3em;
        width: 100%;
    }
}
