<footer>
    <h2><i class="fa-solid fa-address-book"></i>Contact</h2>
    <!--informatii de contact cu link-uri-->
    <address id="contact">
        <ul>
            <li>
                <i class="fa-solid fa-phone"></i>Telefon :
                <a href="tel:0712345678">0712345678</a>
            </li>
            <li>
                <i class="fa-solid fa-location-dot fa-bounce"></i>Adresa
                :
                <a href="https://goo.gl/maps/CMXPN1hX8gPmjB9q6" target="_blank">Strada Motoarelor nr.15</a>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>Email :
                <a href="mailto:2roti@gmail.com">2roti@gmail.com</a>
            </li>
            <li>
                <i class="fa-solid fa-message"></i>Scrie-ne pe
                <a href="https://wa.link/vhxwx3" target="_blank">Whatsapp</a>
            </li>
        </ul>
    </address>

    <!--copyright-->
    <div id="copyright">
        <small>
            &copy; Copyright
            <time datetime="2023-02-21">21 Feb 2023</time> Bogdan
            Comardici</small>

    </div>

    <div id="banner">Acesta este un proiect scolar. Acceptati cookies?</div>
</footer>