<header>
    <!--Titlu-->
    <img src="resurse/images/logo.png" alt="" id="logo2">
    <!-- <h1 id="sigla"><i><img src="resurse/bike-shadow.png" alt="" id ="logo"></i> 2Roti - Magazin Moto Online</h1> -->

    <!--meniu nav-->

    <%- include("../fragmente/head.ejs") %>

        
</header>

<%- include("../fragmente/meniu.ejs") %>
