<header>
    <%- include("../fragmente/head.ejs") %>

        <script>

            function afiseaza_meniu() {
                var meniu = document.getElementById("meniu-container");
                console.log("test");
                if (meniu.style.width === "100%") {
                    meniu.style.width = "0%";
                } else {
                    meniu.style.width = "100%";
                    meniu.style.height = "fit-content";
                }
            }



        </script>
</header>

<nav id="nav" style="margin-top: 2em;">

    <div id="hamburger" onclick="afiseaza_meniu()">
        <div id="ham-top"></div>
        <div id="ham-center"></div>
        <div id="ham-bot"></div>
    </div>

    <div id="meniu-container" tabindex="0">
        <ul class="meniu">

            <li id="acasa-buton"><a href="/home">
                    <div><i class="fa-solid fa-house"></i><b id="scris-acasa">Acasa</b></div>
                </a></li>

            <li id="produse">
                <div><a href="/produse"><i class="fa-solid fa-bag-shopping"></i>Produse</a></div>
                <ul>
                    <% for (let opt of locals.optiuniMeniu) { %>
                        <li><a href="/produse?categ=<%= opt.unnest %>">
                                <%= opt.unnest %>
                            </a></li>
                        <% } %>
                </ul>
            </li>

            <li><a href="/istoric">
                    <div><i class="fa-solid fa-scroll"></i></i>Istoric</div>
                </a></li>

            <li id="galerie-buton"><a href="/galerie">
                    <div><i class="fa-solid fa-camera"></i>Galerie</div>
                </a></li>


            <li id="cos-buton"><a href="/cos-virtual">
                    <div><i class="fa-solid fa-id-card"></i>Cos</div>
                </a></li>

            <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
                <li>
                    <div>Administrare</div>
                    <ul>
                        <li><a href="/useri">Useri</a></li>
                        <li><a href="/grafice">Grafice</a></li>
                        <li><a href="/comenzi">Comenzi</a></li>
                    </ul>
                </li>
                <% } %>
                    <% if(locals.utilizator) { %>
                        <li>
                            <div><%- locals.utilizator.username %></div>
                            <ul>
                                <li><a href="/profil">Profil</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <% } %>


                            <li id="contact-buton"><a href="#contact">
                                    <div><i class="fa-solid fa-id-card"></i>Contact</div>
                                </a></li>

        </ul>
    </div>

</nav>